{%extends "core/base.html"%}
{% load media%}

{%block css%}
{{block.super}}
{% add_css "registration/form.css" %}
{%endblock%}

{%block content%}
<div id="content">
<h3>Обратная связь:</h3>
<div id="reg_form">
<form method="POST" action="{{feedback_action}}">
		{% for field in login_form %}
		<div class="form_block">
			{{field.errors}}
			{{field.label_tag}}
			{{field}}
		</div>
		{% endfor %}
		<div class="form_block">
				<input type="submit" value="Отправить" class="button"/>
		</div>
</form>
</div></div>
{%endblock%}