<script type="text/javascript">
create_table = function() {
    YAHOO.example.Basic = new function() {
        var myColumnDefs = [
            {% for field in schema.fields %}
                {key:"{{field}}", sortable:true, resizeable:true},
            {% endfor %}
        ];

        this.myDataSource = new YAHOO.util.DataSource("{% url turbion_dashboard_sources blog.slug,name %}");
        this.myDataSource.responseType = YAHOO.util.DataSource.TYPE_JSON;
        this.myDataSource.connXhrMode = "queueRequests";
        this.myDataSource.responseSchema = {
            resultsList: "source",
            fields: [{% for field in schema.fields %}"{{field}}",{% endfor %}],
            metaFields: {
               totalRecords: 'total',
            }
        };

        this.myDataTable = new YAHOO.widget.DataTable("dt",
                myColumnDefs, this.myDataSource, {caption:"Posts",initialRequest:""});
    };
}
</script>
