{% extends "turbion/blogs/base.html" %}

{% block content %}
    <div>
        <h2>Archive index</h2>
    </div>
    {% regroup posts by published_on.year as posts_by_year %}

    {% for year in posts_by_year %}
        <div class="archive_year prepend-1">
            <h3>{{year.grouper}}</h3>
            {% regroup year.list by published_on.month as posts_by_month %}

            {% for month in posts_by_month %}
            <div class="archive_month prepend-1">
                <h4>{{month.list.0.published_on|date:"F"}}</h4>
                <div class="archive_posts prepend-1">
                {% for post in month.list %}
                    <h5>{{post.published_on|date:"j l / H:i"}} - <a href="{{post.get_absolute_url}}">{{post.title}}</a></h5>
                {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
