{% extends "turbion/blogs/base.html" %}

{% block syndication %}
<link rel="alternate" type="application/atom+xml" title="{{blog.name}} - Posts Atom" href="{% url turbion_blog_atom "posts" %}" />
<link rel="alternate" type="application/rss+xml" title="{{blog.name}} - Posts RSS" href="{% url turbion_blog_rss "posts" %}" />
<link rel="alternate" type="application/atom+xml" title="{{blog.name}} - Comments Atom" href="{% url turbion_blog_atom "comments" %}" />
<link rel="alternate" type="application/rss+xml" title="{{blog.name}} - Comments RSS" href="{% url turbion_blog_rss "comments" %}" />
{% endblock %}

{% block content %}
    <div>
        {% block content_header %}
        {% endblock %}
    </div>
    {% for post in post_page.object_list %}
    <div class="post_thumbnail">
        <h3><a href="{{post.get_absolute_url}}">{{post.title}}</a></h3>
        <div class="post_body prepend-1">
            <div class="meta">
                <p>Author: {{post.created_by}}</p>
                <p>Published on: {{post.published_on}}</p>
                <p>Tags: {% for tag in post.tags.all %}<a href="{{tag.get_absolute_url}}">{{tag}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                <p><a href="{{post.get_absolute_url}}#comments">Comments {{post.comment_count}}</a></p>
            </div>
            <p class="post_text">
                {{post.text_html|truncatewords_html:80|safe}}
            </p>
        </div>
    </div>
    {% endfor %}
{% endblock %}
