{% extends "turbion/blogs/base.html" %}
{% load blogs.common blogs.pads %}

{% block content %}
    {% block post %}
    <div class="post">
        <h3><a href="{{post.get_absolute_url}}">{{post.title}}</a></h3>
        <div class="meta">
            <p>Author: <a href="{{post.created_by.site}}">{{post.created_by}}</a></p>
            <p>Published on: {{post.published_on}}</p>
            <p>Tags: {{post.tags.all|join:", "}}</p>
        </div>
        <p class="post_text">
            {{post.text_html|safe}}
        </p>
    </div>
    {% endblock %}

    <div id="timeline">
        {% prevnext_pad post %}
    </div>

    {% block comments %}
        {% if comments %}
        <div id="comments">
            <h2>Comments:</h2>
            {% for comment in comments %}
            <div class="comment">
                <p><a href="{{post.get_absolute_url}}#comment_{{comment.id}}" name="comment_{{comment.id}}">#{{forloop.counter}}</a></p>
                <div class="comment_meta">
                    <p>Author: {{comment.created_by}}</p>
                    <p>Created on: {{comment.created_on}}</p>
                </div>
                <p>
                    {{comment.text_html|safe}}
                </p>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    {% endblock %}

    {% block pingbacks %}
        {% if pingbacks %}
        <div id="pingbacks">
            <h2>Pingbacks:</h2>
            {% for pingback in pingbacks %}
            <div class="pingback">
                <p>#{{forloop.counter}}</p>
                <div class="pingback_meta">
                    <p>From: <a href="{{pingback.source_url}}">{{pingback.title}}</a></p>
                    <p>Received on: {{pingback.date}}</p>
                </div>
                <p>
                    {{pingback.paragraph}}
                </p>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    {% endblock %}

    {% block comment_form %}
    <div id="comment_form">
        <h3>Leave your comment:</h3>
        <form method="POST" action={% url turbion_blog_comment_add post.id %}>
            {{comment_form.as_p}}
            <p>
                <input type="submit" name="view" value="Preview"/>
                <input type="submit" value="{% if comment %}Edit{% else %}Add{% endif %}"/>
            </p>
        </form>
    </div>
    {% endblock %}
{% endblock %}
