{% load media dashboard %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{{page_title}}</title>
{% block head %}
    {{block.super}}
    <link rel="stylesheet" type="text/css"
          href="{% add_turbion_media "yui/reset-fonts-grids/reset-fonts-grids.css" %}">
    <style>
    div.data {
        border: solid 1px blue;
        margin: 3px;
        padding: 3px;
    }
    .data p {
        margin-bottom: 25px;
    }
    .data label {
        display: block;
        width: 100px;
        float: left;
    }
    </style>
{% endblock %}

</head>
<body>
{% block main %}
<div id="doc3" class="yui-t2 yui-skin-sam">
  <div id="hd">
    <div>Turbion dashboard {%if blog%}<a href="{{blog.get_dashboard_url}}">{{blog.slug}}</a>{%endif%}</div>
    <div>
		{%block top_menu%}
		{%endblock top_menu%}
    </div>
  </div>
  <div id="bd">
    <div id="yui-main">
        <div class="yui-b">
            <div class="yui-ge"> <!-- the "special grid" -->
	         <div class="yui-u first">
                <div class="data">
                {% block page_body %}
                {% endblock %}
            </div>
             </div>
	         <div class="yui-u">sidebar</div>
	      </div>
        </div>
    </div>
    <div class="yui-b">
        <div class="data">
            {% block page_left %}
            {% endblock %}
        </div>
    </div>
  </div>
  <div id="ft">{% block page_footer %}{% endblock %}</div>
</div>
{% endblock %}
</body>
</html>
