{% load media dashboard %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
{% block head %}
    {{block.super}}
    <link rel="stylesheet" type="text/css"
          href="{% add_turbion_media "yui/reset-fonts-grids/reset-fonts-grids.css" %}">
    <style>
    div.data {
        border: solid 1px blue;
        margin: 3px;
        padding: 3px;
    }
    .data p {
        margin-bottom: 25px;
    }
    .data label {
        display: block;
        width: 100px;
        float: left;
    }
    </style>
{% endblock %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{{page_title}}</title>
    <link rel="stylesheet" type="text/css" ref="reset-fonts-grids.css">
</head>
<body>
{% block main %}
<div id="doc3" class="yui-t2">
  <div id="hd">
    <div>Turbion dashboard</div>
    <div>
        <a href="{% url dashboard_blog_posts blog.slug %}">posts</a>
        <a href="">comments</a>
        <a href="">assets</a>
        <a href="">preferences</a>
        <a href="{% url dashboard_blog_feedbacks blog.slug %}">feedbacks</a>
    </div>
  </div>
  <div id="bd">
    <div id="yui-main">
        <div class="yui-b">
            <div class="data">
            {% block page_body %}
            {% endblock %}
            </div>
        </div>
    </div>
    <div class="yui-b">
        <div class="data">
            {% block page_left %}
            {% endblock %}
        </div>
    </div>
  </div>
  <div id="ft">{% block page_footer %}{% endblock %}</div>
</div>
{% endblock %}
</body>
</html>
