{% load blogs.common blogs.pads %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>{{page_title}}</title>
	<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}turbion/yui/reset-fonts-grids/reset-fonts-grids.css">
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}turbion/css/style/base.css">
</head>

<body>
<!-- the id on the containing div determines the page width. -->
<!-- #doc = 750px; #doc2 = 950px; #doc3 = 100%; #doc4 = 974px -->

<!-- To set the Preset Template, add a class to the containing node -->
<!-- .yui-t1 = left 160px; .yui-t2 = left 180px; .yui-t3 = left 300px; -->
<!-- .yui-t4 = right 180px; .yui-t5 = right 240px; .yui-t6 = right 300px; -->

<div id="doc3" class="yui-t5">
	<div id="hd">
        <h1>Blog: {{blog.name}}</h1>
		<ul>
			{% for title, url in blog.generate_menu %}
				<li><a href="{{url}}" title="{{title}}">{{title|capfirst}}</a></li>
			{% endfor %}
        </ul>
	</div>
	<div id="bd">
		<!-- Preset Templates control the width and alignment of the two blocks (div.yui-b). -->
		<!-- The wide column is wrapped in div#yui-main -->
		<div id="yui-main">
			<div class="yui-b">
                {% block content %}
                {% endblock %}
            </div>
		</div>
		<!-- the unwrapped div.yui-b takes a fixed width and alignment based on the class of the top-level containing node -->
		<div class="yui-b">
			{% block sidebar %}
            <ul>
                <li class="sidebar_pad">
                    {% tags_pad blog %}
                </li>
                <li class="sidebar_pad">
                    {% archive_pad blog %}
                </li>
                <li class="sidebar_pad">
                    {% calendar_pad blog %}
                </li>
                <li class="sidebar_pad">
                    {% top_posts_pad blog %}
                </li>
                <li class="sidebar_pad">
                    {% last_comments_pad blog %}
                </li>
                <li class="sidebar_pad">
                    {% top_commenters_pad blog %}
                </li>
            </ul>
            {% endblock %}
        </div>
	</div>
	<div id="ft">
		<p>Footer - Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas sit amet metus. Nunc quam elit, posuere nec, auctor in, rhoncus quis, dui. Aliquam erat volutpat. Ut dignissim, massa sit amet dignissim cursus, quam lacus feugiat.</p>
	</div>
</div>
</body>
</html>
